<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>VibeCastSpotifyClientID</key><string>YOUR_PUBLIC_SPOTIFY_CLIENT_ID</string>
    <key>VibeCastServiceURL</key><string>https://YOUR_VIBECAST_SERVICE</string>
    <key>VibeCastAIProvider</key><string>hosted</string>
</dict>
</plist>
